/*  Grupo: 23 
Número: 60858 Nome: Diogo Piçarra PL:26
Número: 51758 Nome: José Lopes PL:26
Número:  Nome: Vladana Giebler PL:26
*/

.buttons{
    text-align:center;
}

footer{
    position: fixed;
    text-align: left;
    bottom:0;
    left: 10px;
}

#buttonsindex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 80px;
}

.buttonindex{
    margin-bottom: 20px;
}

.navButtonregister{
    margin-right: 50px;
}



.form{
    text-align: center;
}

.rulesh2{
    margin-top: -5px;
}

.registerButton{
    display: block;
    margin:auto;
    margin-top: 20px;
}

.logButton{
    display: block;
    margin:auto;
    margin-top: 20px;
}

table{
    justify-content: center;
}
form {
    display:grid;
    justify-content: center;
    align-items: center;
}

.logoutbuttonIndex{
    margin-left: 5px;
}