/*  Grupo: 23 
Número: 60858 Nome: Diogo Piçarra PL:26
Número:  Nome: José Lopes PL:26
Número:  Nome: Vladana Giebler PL:26
*/

body{
    background-image: url("../media/bgi.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family:'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

ul{
    list-style-type: none;
}

.desaparecer{
    display: none;
}

.rulesh2{
    font-family:'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

.text {
    font-family:'Times New Roman', Times, serif;
    color:white;
}

.buttons{
    text-align: center;
}

.buttonindex{
    background-color:#887bb0dc;
    text-align: center;
    width: 200px;
    height: 100px;
    color: #69eae6;
    font-size: larger;
    font-weight: bolder;
    cursor:pointer;
}

.buttonindex:disabled{
    background-color:#ad1313dc;
    text-align: center;
    width: 200px;
    height: 100px;
    color: #69eae6;
    font-size: larger;
    font-weight: bolder;
    cursor:pointer;
}

.buttonSingle:disabled{
    background-color:#ad1313dc;
    text-align: center;
    width: 200px;
    height: 100px;
    color: #69eae6;
    font-size: larger;
    font-weight: bolder;
    cursor:pointer;
}

a:link{
    text-decoration: none;
    font-weight: bold;
    color:#85d2d0;
}
a:visited{
    text-decoration: none;
    font-weight: bold;
    color:#85d2d0;
}

a:hover{
    text-decoration: none;
    color: antiquewhite;
}

a:active{
    text-decoration: none;
    color: antiquewhite;
}


.nav{
    text-align: right;
}

.navButtonIndex{
    background-color: #887bb0d0;
    width: 100px;
    height: 30px;
    color: #85d2d0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:medium;
    cursor:pointer;
}

.logoutbuttonIndex{
    background-color: #d35891;
    width: 100px;
    height: 30px;
    color: #85d2d0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:medium;
    cursor:pointer;
}

.rulesText{
    text-align: justify;
}

.subtitulo{
    font-family:'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

.usernameStyle{
    color:antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}

.passwordStyle{
        color:antiquewhite;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bolder;
}

.genderStyle{
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}

.ageStyle{
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}

input[type="submit"]{
    color: antiquewhite;
    font-size: large;
}

.registerButton{
    background-color:#887bb0ec;
    text-align: center;
    width: 190px;
    height: 50px;
    color: #85d2d0;
    font-size: larger;
    font-weight: bolder;
    cursor:pointer;
}

.logButton{
    background-color:#887bb0ec;
    text-align: center;
    width: 190px;
    height: 50px;
    color: #85d2d0;
    font-size: larger;
    font-weight: bolder;
    cursor:pointer;
}

.indexFooter{
    color: antiquewhite;
    font-weight: bold;
}

.creators{
    text-align: center;
}

table{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

td , tr{
    border: 3px solid rgb(221, 221, 221);
    padding: 10px;
}

#scoreboardtable tr:nth-child(even){
    background-color: #dddd;
    color: rgb(46, 46, 46)
}

td{
    width: 200px;
    height: 20px;
}

.timer{
    font-family:'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

.grey{
    filter: grayscale(1);
}

.start{
    background-color:#887bb0ec;
    text-align: center;
    width: 300px;
    height: 100px;
    color: #85d2d0;
    font-size: larger;
    font-weight: bolder;
    z-index: 1;
    margin: 0;
    position: absolute;
    margin-top: 410px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor:pointer;
}

#tabelajogo{
    background-color: #001145;
}

.clicked{
    background-color: #D60270;
}

.endButton{
    background-color:#887bb0ec;
    text-align: center;
    width: 200px;
    height: 100px;
    color: #85d2d0;
    font-size: larger;
    font-weight: bolder;
    z-index: 1;
    cursor:pointer;
}

.end{
    padding: 5em;
    display: flex;
    justify-content:center;    
}

.sidebartxt{
    font-size:larger;
    color: white;
    -webkit-text-stroke: 0.1px black;
}

.names{
    color: white;
    font-size: xx-large;
    font-weight: bold;
}

.disclaimer{
    color: white;
}

.rainbow{
    background-image: 
    linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: rainbow-animation 35s linear infinite;
} 

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}