body{
    background-image: url("../media/bgi.jpg");
    background-size:100% 150%;
    background-repeat: no-repeat;
}

h1{
    font-family:'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

.rulesh2{
    font-family:'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
    margin-top: -5px;
}

.text {
    font-family:'Times New Roman', Times, serif;
    color:white;
}

.buttons{
    text-align: center;
}
.indbuttons{
    background-color:#887bb0ec;
    text-align: center;
    width: 200px;
    height: 100px;
    color: #85d2d0;
    font-size: larger;
    font-weight: bolder;
}

a:link{
    text-decoration: none;
    font-weight: bold;
    color:#85d2d0;
}
a:visited{
    text-decoration: none;
    font-weight: bold;
    color:#85d2d0;
}

a:hover{
    text-decoration: none;
    color: antiquewhite;
}

a:active{
    text-decoration: none;
    color: antiquewhite;
}


.nav{
    text-align: right;
}

.navButtonregister{
    background-color: #887bb0d0;
    width: 100px;
    height: 30px;
}

.navButtonlogin{
    background-color: #887bb0d0;
    width: 100px;
    height: 30px;
}

.rulesText{
    text-align: justify;
}

.buttonSingle{
    background-color:#887bb0d0;
    text-align: center;
    width: 200px;
    height: 100px;
    color: #85d2d0;
    font-size: larger;
    font-weight: bolder;
}

.subtitulo{
    font-family:'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

.textSingle{
    font-family: 'Times New Roman', Times, serif;
    color:rgba(250, 235, 215, 0);
    text-align: center;
}