/*  Grupo: 23 
Número: 60858 Nome: Diogo Piçarra PL:26
Número:  Nome: José Lopes PL:26
Número:  Nome: Vladana Giebler PL:26
*/

body{
    background-image: url("../media/bgi.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family:'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

ul{
    list-style-type: none;
}

.rulesh2{
    font-family:'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

.text {
    font-family:'Times New Roman', Times, serif;
    color:white;
}

.buttons{
    text-align: center;
}
.indbuttons{
    background-color:#887bb0ec;
    text-align: center;
    width: 200px;
    height: 100px;
    color: #85d2d0;
    font-size: larger;
    font-weight: bolder;
}

a:link{
    text-decoration: none;
    font-weight: bold;
    color:#85d2d0;
}
a:visited{
    text-decoration: none;
    font-weight: bold;
    color:#85d2d0;
}

a:hover{
    text-decoration: none;
    color: antiquewhite;
}

a:active{
    text-decoration: none;
    color: antiquewhite;
}


.nav{
    text-align: right;
}

.navButtonregister{
    background-color: #887bb0d0;
    width: 100px;
    height: 30px;
    color: #85d2d0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:medium;
}

.navButtonlogin{
    background-color: #887bb0d0;
    width: 100px;
    height: 30px;
    text-align: center;
    color:#85d2d0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:medium;
}

.rulesText{
    text-align: justify;
}

.buttonSingle{
    background-color:#887bb0d0;
    text-align: center;
    width: 200px;
    height: 100px;
    color: #85d2d0;
    font-size: larger;
    font-weight: bolder;
}

.subtitulo{
    font-family:'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

.text{
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite;
    text-align: center;
}

.usernameStyle{
    color:antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}

.passwordStyle{
        color:antiquewhite;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: bolder;
}

.genderStyle{
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}

.ageStyle{
    color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}

input[type="submit"]{
    color: antiquewhite;
    font-size: large;
}

.registerButton{
    background-color:#887bb0ec;
    text-align: center;
    width: 190px;
    height: 50px;
    color: #85d2d0;
    font-size: larger;
    font-weight: bolder;
}

.logButton{
    background-color:#887bb0ec;
    text-align: center;
    width: 190px;
    height: 50px;
    color: #85d2d0;
    font-size: larger;
    font-weight: bolder;
}

.indexFooter{
    color: antiquewhite;
    font-weight: bold;
}

.creators{
    color: antiquewhite;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

table{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    color: white;
}

td , tr{
    border: 3px solid rgb(221, 221, 221);
    padding: 10px;
}

tr:nth-child(even){
    background-color: #dddd;
    color: rgb(46, 46, 46)
}

td{
    width: 200px;
    height: 20px;
}